.accountBar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#totalUsers {
    align-content: space-around;
    flex-wrap: wrap;
}

.familyName {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.userServicesIcons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.addRemoveButtons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}