.accountBar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#totalUsers {
    align-content: space-around;
    flex-wrap: wrap;
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: 10vw;
}

#userIcon {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#buttons {
    width: 2vw;
    height: 2vw;
    border: solid grey;
    border-radius: 2em;
    box-shadow: 0px 0px 5px 5px lightgrey;
}

.addButtons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}