@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  top: 50px;
  font-family: 'Permanent Marker', cursive;
  color: rgb(0, 119, 182);
}

#sideBarButton {
  margin-top: 15%;
}

#viewMyFamilies {
  border: solid 0 1px 0 0 darkgrey;
}

#logo {
  font-family: 'Permanent Marker', cursive;
  color: white;
  display: flex;
  justify-content: center;
}
#loginPage {
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
#welcome-page {
  background-image: url('./popcorn.jpg');
  background-size: cover;
  height: 100%;
  opacity: 0.9;
}
